<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Signal Processing Analysis and Notification Framework</title>

	<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script src="/static/bower_components/jquery/dist/jquery.slim.min.js"></script>
	<script src="/static/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container card mt-3">
		<div class="row card-header">
			<ul class="nav nav-tabs card-header-tabs ml-auto mr-auto">
				{% for url, name in navigation.iteritems() %}
					<li class="nav-item">
						<a href="{{ url }}" class="nav-link {{ 'active' if entityName is defined and name == entityName }}">
							{{ name | pascalCaseToPretty }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="row card-body">
			{% block contents %}{% endblock %}
		</div>
	</div>
</body>
</html>