{% extends "layout.html" %}

{% block contents %}
	<h1>
		{{ entityName }}
		({{ entities | length }} {{ 'entry' if entities | length == 1 else 'entries' }})
	</h1>

	{% if entities | length %}
		<table class="table">
			<thead>
				<tr>
					{% for fieldName in entities[0].toDictId().keys() %}
						<th>{{ fieldName }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for entity in entities %}
					<tr>
						{% for fieldKey, fieldValue in entity.toDictId().iteritems() %}
							<td>
								{% if fieldKey == "id" %}
									<a href="{{ entity | entityLink }}">{{ fieldValue }}</a>
								{% elif fieldValue | isEntity %}
									<a href="{{ fieldValue | entityLink }}">{{ fieldValue.__class__.__name__ }}</a>
								{% else %}
									{{ fieldValue }}
								{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}